* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: monospace;
}

nav {
  width: 100%;
  height: 180px;
  padding: 25px;
  border-bottom: solid white 1px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: white;
  display: inline;
  margin-bottom: 10px;
  border-bottom: solid black 3px;
  font-size: xx-large;
}

div.Button {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.btn-style {
  padding: 5px;
  font-family: monospace;
}

button {
  border: solid white 2px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 2px;
}

button:hover {
  background-color: lavender;
  color: black;
  cursor: pointer;
  font-weight: bolder;
}

.visual_area {
  width: 100%;
  height: 400px;
  padding: 20px;
  margin-top: 20px;
}

.Bars {
  border: solid white 1px;
  padding: 10px;
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.barStyle {
  width: 25px;
  background-color: lightseagreen;
  border: solid black 1px;

  margin: 1px;
  font-weight: bolder;
  text-align: center;
}

footer {
  width: 100%;
  height: 100px;
  padding: 25px;
  margin-top: 20px;
  border-top: solid white 1px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a i {
  padding: 10px;
}

.icon {
  font-size: x-large;
  color: white;
}

.icon:hover {
  font-size: 30px;
  color: white;
}

.creator {
  font-size: x-large;
}

@media (max-width: 1200px) {
  .barStyle {
    width: 20px;
  }
}

@media (max-width: 900px) {
  .barStyle {
    width: 15px;
  }
}

@media (max-width: 650px) {
  .barStyle {
    width: 10px;
  }
}

@media (max-width: 500px) {
  .barStyle {
    width: 8px;
  }
  .heading {
    font-size: larger;
  }
  button {
    font-size: small;
  }
}

@media (max-width: 360px) {
  .barStyle {
    width: 6px;
  }
}
